Applications
Desktop
Documents
Downloads
Dropbox
Library
Music
Movies
Sites
Pictures
.ssh
links/.secrets
.secrets
.vimrc
.vim
.viminfo
.bash_profile
bin
.CFUserTextEncoding
.IdentityService/
.ServiceHub/
.Trash/
.android/
.babel.json
.bash_history
.bash_sessions/
.cache/
.config/
.cups/
.docker/
.dotnet/
.dropbox/
.emulator_console_auth_token
.emulator_console_auth_token
.gem/
.gitconfig
.gradle/
.keepassx/
.lesshst
.local/
.mono/
.node-gyp/
.node_repl_history
.npm/
.nuget/
.oracle_jre_usage/
.psql_history
.subversion/
.v8flags.5.1.281.101.0864bd67de863edca1755dbced3c5c1c.json
.vscode/
.webcatalog-lite/
.gitignore

